<!DOCTYPE html>
<html>
<head>
  <title>Subscribem</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "subscribem/application", media: "all" %>
  <%= javascript_include_tag "subscribem/application" %>
</head>
<body>

  <% flash.each do |k, v| %>
    < class='flash <%= k %>'><%= v %></div>
  <% end %>
  <%= yield %>

</body>
</html>
